<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4rGksTBImttp6qjBgBWE3WNVLOY3l_3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>594660736781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frebaseCrud.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-crud-888c0</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-crud-888c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594660736781:ios:ddee69511cefcdc612fa44</string>
</dict>
</plist>